@import "tailwindcss";
@import "tw-animate-css";
@tailwind utilities;
@custom-variant dark (&:is(.dark *));

:root {
  /* Light theme colors */
  --bg-primary: #f1f1f1;
  --bg-secondary: #f3f4f6;
  --content: #1d1d1d;
  /* Dark theme colors */
  --bg-primary-dark: #1d1d1d;
  --bg-secondary-dark: #141414;
  --content-dark: #f1f1f1;
  --theme-primary: #f59e0b;
  --theme-secondary: #ffc934ff;
  --black: #000;
  --white: #fff;
  --dark_grey: #505050;
  --light_grey: #b8b8b8ff;
  --purple: #8a1ddd;
  --blue: #1774ff;
  --light_blue: #d9e8ff;
  --red: #ff0000;
  --light_red: #ffe0e0;
  --green: #00b315;
  --light_green: #d5ffda;
  --radius: 0.625rem;
}

/* for tailwind */
@theme inline {
  /* Font sizes */
  --text-2xl: 5rem;
  --text-xl: 48px;
  --text-lg: 32px;
  --text-lg-1: 24px;
  --text-md: 18px;
  --text-md-1: 14px;
  --text-sm: 12px;

  /* colors */
  /* Light theme colors */
  --color-bg-primary: var(--bg-primary);
  --color-bg-secondary: var(--bg-secondary);
  --color-content: var(--content);
  /* Dark theme colors */
  --color-bg-primary-dark: var(--bg-primary-dark);
  --color-bg-secondary-dark: var(--bg-secondary-dark);
  --color-content-dark: var(--content-dark);

  --color-theme-primary: var(--theme-primary);
  --color-theme-secondary: var(--theme-secondary);
  --color-black: var(--black);
  --color-white: var(--white);
  --color-dark_grey: var(--dark_grey);
  --color-light_grey: var(--light_grey);
  --color-purple: var(--purple);
  --color-blue: var(--blue);
  --color-light_blue: var(--light_blue);
  --color-red: var(--red);
  --color-light_red: var(--light_red);
  --color-green: var(--green);
  --color-light_green: var(--light_green);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

body {
  background: var(--bg-primary);
  color: var(--foreground);
  /* font-family: Arial, Helvetica, sans-serif; */
}

@layer base {
  body {
    @apply bg-bg-primary text-content;
  }
}

.primary-background {
  @apply bg-bg-primary dark:bg-bg-primary-dark;
}

.secondary-background {
  @apply bg-bg-secondary dark:bg-bg-secondary-dark;
}
.secondary-background-converse {
  @apply dark:bg-bg-secondary bg-bg-secondary-dark;
}

.custom-border-color {
  @apply border-dark_grey/10 dark:border-dark_grey/20;
}

.custom-text-primary {
  @apply text-content dark:text-content-dark;
}
.custom-text-primary-converse {
  @apply text-content-dark dark:text-content;
}
.custom-text-secondary {
  @apply text-slate-600 dark:text-slate-400
}
.custom-text-secondary-converse {
  @apply dark:text-slate-600 text-slate-400
}

/** 
* Custom Scroll Bar
*/
/* width */
::-webkit-scrollbar {
    width: 8px;
}
  
/* Track */
::-webkit-scrollbar-track {
    background: rgb(58, 58, 58);
}
  
/* Handle */
::-webkit-scrollbar-thumb {
    background: #1774ff;
}
  
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #3485ffff
}